.x {

    border: 1px solid black; list-style: none; padding: 10px; width: 200px; margin: 30px;
}

.y{border: 1px black solid; padding: 10px 20px; margin-bottom: 0; text-align: center;

}

.a {border: 1px black solid; padding: 10px;  width: 100%; list-style:none;

}

.z {border: 1px black solid; padding: 40px ;  text-align: center; width: 200px; list-style:none; display: inline-block;



}
















